//Icons on Product Page

.icon-return,
.icon-airplane,
.icon-shirt {
	fill: #222;
}

.icon-return {
	width: 44px;
	height: 48px;
}

.icon-airplane {
	width: 46px;
	height: 46px;
}

.icon-shirt {
	width: 60px;
	height: 46px;
}