@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (min-width: 1008px) {
  //-------------------------
  //-- Template Product Start --
  //-------------------------
  .template-product {
    .Product__Slideshow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .Carousel__Cell {
        width: calc(50% - 15px);
        height: 0;
        padding-bottom: calc(50% - 15px);
        overflow: hidden;
        &:first-child {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
        }
      }
    }
  }
}
